# gitignore template by digitalfun
# see also:
# - [gitignore templates @Github](https://github.com/github/gitignore)
# - [gitignore info](https://www.gitignore.io/)

# ignore folders
#########################################
/.bin/
/_inbox/
/_temp/

# ignore project taskfile
#########################################
/Taskfile
/Taskfile.bat
/Taskfile.sh

# ignore config files
#########################################
/.editorconfig
/.markdownlint.json
